@use 'colors'
  
%full-size
  width: 100%
  height: 100%

html
  box-sizing: border-box

body
  margin: 0px
  padding: 0px


.App
  text-align: left
  font-family: Arial, Helvetica, sans-serif
  color: rgba(black, 90%)

  .summary
    display: flex
    align-items: flex-end
    justify-content: center
      
    .chart
      height: 20rem
      padding-top: 3rem 
  
  .all-values
    display: flex
    align-items: center
    justify-content: center
    margin-top: 3rem
    width: 100%

    table
      border-spacing: 0px
      width: 100%

      th, td
        padding: .5rem
        font-size: .8rem
      
      th
        background-color: rgba(colors.$c2, 80%)

      
      .even
        background-color: rgba(colors.$c1, 30%)
      .odd
        background-color: rgba(colors.$c2, 30%)

