@use 'responsivity' as resp

#stock-chart
  width: 100%
  height: 100%

  $move-axis-x: 15%
  $move-axis-y: 10%

  $scale-axis-x: 80%
  $scale-axis-y: 80%

  %basic-transform 
    transform: translate($move-axis-x, $move-axis-y) scale($scale-axis-x, $scale-axis-y)
  
  
  .axis-line, .axis-limit-line
    stroke: black
    stroke-width: 1px
  
  #axis-y, .axis-limit-line-y, #axis-x, .axis-limit-line-x
    @extend  %basic-transform

  .axis-text
    @include resp.multi-prop-media($prop: font-size, $values-list: [.9rem, 1rem, .9rem], $breakpoint-list: [resp.$break1, resp.$break2])
    
  .axis-text-x
    transform: translate($move-axis-x, $move-axis-y + 10%) scale($scale-axis-x, $scale-axis-y)
  
  .axis-text-y
    $big: translate($move-axis-x - 4%, $move-axis-y) scale($scale-axis-x, $scale-axis-y)
    $medium: translate($move-axis-x - 7.5%, $move-axis-y) scale($scale-axis-x, $scale-axis-y)
    $small: translate($move-axis-x - 12.5%, $move-axis-y) scale($scale-axis-x, $scale-axis-y)
    @include resp.multi-prop-media($prop: transform, $values-list: [$small, $medium, $big], $breakpoint-list: [resp.$break1, resp.$break2])
    

  .stock-line
    @extend  %basic-transform
    stroke: black
    stroke-width: .3px 
    fill: fill

  .price-decorator
    @extend  %basic-transform
    cursor: pointer
  
  .price-decorator-max
    fill: green 
  
  .price-decorator-min
    fill: red 

  .price-decorator-normal
    fill: lightGray
  
  .price-decorator-normal:hover
    fill: gray
  
  .price-decorator-text    
    font-size: .9rem
    font-weight: bold

  .price-decorator-line
    @extend  %basic-transform
    stroke: rgba(gray, 90%)
    stroke-width: .03rem